<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sahil_verma.reactnative.wallpaper">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application>
        <meta-data
            android:name="com.sahil_verma.reactnative.wallpaper.MyGlideModule"
            android:value="GlideModule" />
    </application>
</manifest>
